
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');



* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: grey;
    /*background-image: url('/static/images/woods.png');*/
    background-image: url('https://images2.alphacoders.com/805/805200.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    
}

h1 {
    text-align: center;
    padding: 20px;
    color: rgb(234, 255, 0);
    text-decoration: underline;
}

div {
    display: flex;
    justify-content: center;
    
}

footer {
    color: rgb(234, 255, 0);
    text-align: center;
    padding: 35px;
}

p:hover {
    color: orangered;
}